.u-section-1 {
  background-image: url("/static/images/v.jpg");
  background-position: 50% 50%;
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 656px;
  background-image: linear-gradient(to right, white, #a6a6a6);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px 70px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-size: 4.6875rem;
  margin: 190px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 22px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 656px;
  background-image: url("/static/images/CheckyourEyes1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 366px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 100% 50%;
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 40px;
    margin-left: -40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 40px;
    margin-left: -40px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: -40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 363px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 30px 30px 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 25px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
    margin-left: -25px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -25px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
    background-position: 39.48% 100%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 812px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 565px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 548px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-1 {
    min-height: 356px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 348px;
}

.u-section-2 .u-group-1 {
  min-height: 299px;
  width: 800px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 49px;
  padding-right: 49px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 60px;
}

.u-section-2 .u-line-1 {
  width: 71px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 59px;
  }

  .u-section-2 .u-text-2 {
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-line-1 {
    width: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-line-1 {
    width: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    width: 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 855px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5625rem;
  font-family: verdana;
  margin: 32px 737px 0 157px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5625rem;
  font-family: verdana;
  margin: -27px 185px 0 745px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 697px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 167px auto 0 139px;
  padding: 5px 19px 7px;
}

.u-section-3 .u-btn-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: -31px auto 0 24px;
  padding: 5px 19px 7px;
}

.u-section-3 .u-btn-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 212px auto 0 177px;
  padding: 5px 11px 6px;
}

.u-section-3 .u-btn-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: -31px auto 0 24px;
  padding: 5px 9px 7px 7px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 697px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 637px;
    margin-left: 57px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 85px;
    margin-left: 645px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    z-index: auto;
    min-height: 575px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 77px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    z-index: auto;
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 474px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 510px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 294px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 130px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 380px;
}

.u-section-4 .u-group-1 {
  min-height: 268px;
  width: 800px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    animation-duration: 3000ms;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-4 .u-group-1 {
    min-height: 201px;
    margin-top: 46px;
    margin-bottom: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 25px;
    margin-bottom: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-group-1 {
    min-height: 218px;
    margin-top: 51px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 549px;
}

.u-section-5 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 282px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 -3px;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 -3px;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 231px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    margin-top: 143px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1368px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  height: auto;
  margin: 40px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 559px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("/static/images/WhatsApp Image 2023-06-05 at 09.44.531.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: 12px 1px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("/static/images/WhatsApp Image 2023-06-05 at 09.56.331.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 12px 1px 0 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-6 .u-icon-7 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-8 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-list-2 {
  height: auto;
  margin-top: -12px;
  margin-bottom: 40px;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 559px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("/static/images/Myproject-12.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-6 .u-text-8 {
  font-style: italic;
  margin: 12px 1px 0 0;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-9 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-10 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-6 .u-icon-11 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-12 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("/static/images/WhatsAppImage2023-06-04at14.51.541.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-10 {
  font-style: italic;
  margin: 12px 1px 0 0;
}

.u-section-6 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-13 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-14 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-6 .u-icon-15 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-16 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 461px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}